#entry {
  /* background-color: transparent; */
  border-radius: 0;
  padding: 2px 3px 2px 3px;
  color: #282828;
}

#entry:selected {
  /* background-color: #5e81ac; */
  background-color: #d5c4a1;
  /* border: none; */
}

#text:selected {
  /* color: #202f4a; */
  color: #3c3826;
  font-weight: bold;
}

/* /\* Gruvbox light colors *\/ */
/* gruvbox-light-bg0:          #fbf1c7; */
/* gruvbox-light-bg0-soft:     #f2e5bc; */
/* gruvbox-light-bg2:          #d5c4a1; */
/* gruvbox-light-fg0:          #282828; */
/* gruvbox-light-fg1:          #3c3836; */
/* gruvbox-light-gray:         #7c6f64; */
/* gruvbox-light-red-dark:     #9d0006; */
/* gruvbox-light-red-light:    #cc241d; */
/* gruvbox-light-yellow-dark:  #b57614; */
/* gruvbox-light-yellow-light: #d79921; */

#window {
  padding: 2px;
  background-color: #fbf1c7; /* #3c3836; */ /* rgba(17,25,39,0.95); */
  /* border: 5px solid #cc3b4252; */
  border: 2px solid #d79921;
  border-radius: 0px;
  font-family: Iosevka ss04;
}

#input {
  text-align: center;
  /* border: 2px solid #5e81ac; */
  border: 2px solid #7c6f64;
  /* background-color: #4c566a; */
  background-color: #d5c4a1;
  padding: 3 5 3 5;
  border-radius: 0px;
}

#inner-box {
  color: #d8dee9;
  padding: 2px;
  background-color: transparent;
}

#outer-box {
  margin: 15px;
  background-color: transparent;
}

#scroll {
  margin-top: 10px;
  background-color: none;
  border: none;
}

#text {
  padding: 6px;
  font-size: 14px;
  background-color: transparent;
}

#img {
  background-color: transparent;
  padding: 5px;
}

base00 = #282828
base01 = #3c3836
base02 = #504945
base03 = #665c54
base04 = #bdae93
base05 = #d5c4a1
base06 = #ebdbb2
base07 = #fbf1c7
base08 = #fb4934
base09 = #fe8019
base0A = #fabd2f
base0B = #b8bb26
base0C = #8ec07c
base0D = #83a598
base0E = #d3869b
base0F = #d65d0e
