* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Iosevka ss04, Helvetica, Arial, sans-serif; */
    font-family: monospace;
    font-size: 11px;
    min-height: 0;
}

window > box {
    margin: 2px 2px 2px 2px;
    /* color: #ffffff; */
}

window#waybar {
    /* background-color: rgba(17, 25, 39, 0.9); */
    background-color: #282828;
    /* border-bottom: 3px solid rgba(55, 76, 110, 0.0); */
    /* border-bottom: 3px solid #d3869b; */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* window#waybar.chromium { */
/*     background-color: #000000; */
/*     border: none; */
/* } */

#workspaces {
    margin-right: 10px;
    margin-left: 10px;
}

#workspaces button {
    padding: 0 5px;
    /* background-color: transparent; */
    background-color: #3c3836;
    color: #fbf1c7;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    background: #504945;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    /* background-color: rgba(53, 96, 161, 1.0); */
    background-color: #d5c4a1;
    /* color: #ffffff; */
    color: #282828;
    box-shadow: inset 0 -3px #fe8019;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#window {
    /* background-color: #b8bb26; */
    background-color: #83a598; /* #bdae93; */
    color: #282828;
    padding: 0 5px;
    /* box-shadow: inset 0 -3px #83a598; /\* #fe8019; *\/ */
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 5px;
    margin: 0 3px;
    color: #ffffff;
}

#clock {
    /* background-color: #383c4a; */
    background-color: #3c3836;
    /* color: #ffffff; */
    color: #fbf1c7;
}

#battery {
    /* background-color: #ffffff; */
    background-color: #ebdbb2;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    /* background-color: #26A65B; */
    background-color: #8ec07c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
    background-color: #fb4934;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    /* background-color: #6485c2; */
    background-color: #d65d0e;
    color: #ffffff;
}

#memory {
    /* background-color: #3560a1; */
    background-color: #83a598;
    color: #ffffff;

}

#backlight {
    /* background-color: #90b1b1; */
    background-color: #d3869b;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    /* background-color: #f1c40f; */
    background-color: #fabd2f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
#temperature {
    /* background-color : #1d508b ; */
    background-color : #fe8019;
    color: #ffffff;
}

#temperature.critical {
    /* background-color: #eb4d4b; */
    background-color: #fb4934;
}

#tray {
    /* background-color: #2980b9; */
    background-color: #504945; /* #665c54; */
}

#idle_inhibitor {
    background-color: #ffffff;
    color: #2d3436
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#mpd {
    /* background-color: #66cc99; */
    background-color: #b8bb26;
    /* color: #2a5c45; */
    color: #282828;
}

#mpd.paused {
    /* background-color: #51a37a; */
    background-color: #83851c; /* #949620; /\* #8ec07c; *\/ */
}

#mpd.stopped {
    /* background-color: #90b1b1; */
    background-color: #83a598;
}

#mpd.disconnected {
    /* background-color: #f53c3c; */
    background-color: #d65d0e;
}

#language {
    background: #0e3a8b;
    color: #ffffff;
    padding: 0 5px;
    margin: 0 3px;
    min-width: 16px;
}

#custom-pomodoro.paused {
  border-bottom: 3px solid @yellow;
}
